.project-todo {
  width: 100%;
  height: 100vh;
}
.project-select {
  width: 100%;
  max-width: 600px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.project-title {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 30px;
  }
}
.project-content {
  margin-top: 20px;

  .project-due {
    color: rgb(168, 166, 166);
    font-size: 20px;
  }
  .project-description {
    margin-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    border-bottom: 2px solid rgb(168, 166, 166);
  }
}
.tasks {
  margin-top: 30px;
  background: rgb(238, 236, 236);
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;

  .tasks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
}
.todo_task {
  max-width: 400px;
  margin-top: 20px;
  display: flex;

  .todo_task-change {
    width: 250px;
    flex: 1;
    min-width: 0;
    padding-left: 10px;
  }
  button {
    margin-left: 10px;
  }
}
.todo {
  .todo_title {
    margin-top: 20px;
  }
}
