.project-todo {
  width: 100%;
  height: 100vh;
}
.project-select {
  width: 100%;
  max-width: 600px;
  padding-top: 50px;
  padding-left: 30px;
}
.project-title {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 30px;
  }
}
