* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
  display: flex;
  margin-top: 30px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;

  form {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    button {
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
