.aside-panel {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: rgb(17, 7, 1);
  border-radius: 0 20px 0 0;
}
.aside-title {
  display: flex;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
}
.aside-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 30px 0 30px;
}
.add-project-btn {
  max-width: 200px;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 22px;
}
.list-project {
  .project {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 0 10px 5px;
    background-color: aqua;
  }
  .project:hover {
    background-color: grey;
    cursor: pointer;
  }
}
