.new-project {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project-add {
  width: 100%;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 30px;
}
menu {
  width: 100%;
  max-width: 600px;
}
.title,
.due {
  height: 40px;
}
.description {
  height: 60px;
}
.due {
  font-size: 18px;
  cursor: pointer;
}
.due::-webkit-datetime-edit {
  font-size: 18px;
}

.due::-webkit-calendar-picker-indicator {
  cursor: text;
  transform: scale(1.1);
}
.title,
.due,
.description {
  border: none;
  outline: none;
  background: rgb(168, 166, 166);
  border-bottom: 2px solid transparent;
  caret-color: rgb(17, 7, 1);
}
.title,
.due {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 16px;
}
label {
  text-transform: uppercase;
  font-weight: 600;
}

.title:focus,
.due:focus,
.description:focus {
  border-bottom: 1px solid rgb(17, 7, 1);
}

menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
menu {
  li {
    list-style: none;
  }
}
.cancel,
.save {
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(168, 166, 166);
}
.save:hover,
.cancel:hover {
  background-color: rgb(17, 7, 1);
}
